# -------------------------------------------------------------------
# 1. VitePress 核心忽略项
# -------------------------------------------------------------------
docs/.vitepress/dist
docs/.vitepress/cache


# -------------------------------------------------------------------
# 2. Node.js 与依赖包
# -------------------------------------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# -------------------------------------------------------------------
# 3. 操作系统与编辑器
# -------------------------------------------------------------------
.DS_Store
thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace


# -------------------------------------------------------------------
# 4. 环境变量与私密数据
# -------------------------------------------------------------------
.env
.env.local
.env.*.local